<html xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" type = "text/css" href="http://localhost:8000/static/css/task_detail.css" />
</head>
<body>
    <table id = 'buttons_list'>
        <tr><td>
            <div id = "back">
                <form action="http://localhost:8000/task/list" method = "GET" >
                    <input value="Back" type="submit">

                    </input>
                </form>
            </div>
        </td></tr>
        <tr><td>
            {% if last_event == 0 or last_event == 3 or last_event == 4 %}
            <div id = "open">
                <form action="http://localhost:8000/task/change/{{ task.pk }}/open" method = "GET" >
                    <input value="Open" type="submit"/>
                </form>
            </div>
            {% endif %}
        </td></tr>
        <tr><td>
           {% if last_event == 1 %}
            <div id = "agree">
                <form action="http://localhost:8000/task/change/{{ task.pk }}/work" method = "GET" >
                    <input value="I agree" type="submit"/>
                </form>
            </div>
            {% endif %}
        </td></tr>
        <tr><td>
           {% if last_event == 2 %}
            <div id = "success">
                <form action="http://localhost:8000/task/change/{{ task.pk }}/view" method = "GET" >
                    <input value="Success" type="submit"/>
                </form>
            </div>
           {% endif %}
        </td></tr>
        <tr><td>
           {% if last_event == 1 or last_event == 3 %}
            <div id = "close">
                <form action="http://localhost:8000/task/change/{{ task.pk }}/close" method = "GET" >
                    <input value="Close" type="submit"/>
                </form>
            </div>
           {% endif %}
        </td></tr>


    </table>
    <div id = 'title'>
        {{ task.m_title|safe }}
    </div>
    <br/>
    <div id="content">
        {% autoescape off %} {{ task.m_description }} {% endautoescape %}<br/>
    </div>
    <div id = 'hours_title'>Hours</div>
    <img id = "image_hours" src="http://localhost:8000/static/images/site/hours_normal2.jpg"/>
    <div id =  'hours'>
        {{ task.m_hours }}
    </div>
</body>
</html>