{% extends "administrator/administrator_base.html" %}

{% block scripts %}
<script type="text/javascript" src="http://localhost:8000/static/js/tinymce/tinymce.min.js"></script>
{% endblock %}

{% block content %}
    <script type="text/javascript">
        tinymce.init({
        selector: "textarea",
        plugins: [
            "advlist autolink lists link image charmap print preview anchor",
            "searchreplace visualblocks code fullscreen",
            "insertdatetime media table contextmenu paste"
        ],
        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
        });
    </script>

    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Create Task" />
    </form>
{% endblock %}